<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Here</title>
    {% load static %}
	<link href= "{% static 'logbook_2/addcss.css'%}"  rel="stylesheet" />
</head>
<body>
<form action="{% url 'new_entry' %}" method="POST">{% csrf_token %}
       DATE - <input type="date" name="dt"> <br>
       START TIME - <input type="time" name = "st" > <br>
       END TIME -<input type="time" name = "et" > <br>
      OBJECTIVE - <input type="text" name ="obj"> <br>
      {% for stud in students%}
    <li>{{  stud.name  }} --
        <input type="checkbox" name={{ stud.id }}> </li>
         <input type="text" name= "ob{{stud.id  }}">
    {%  endfor %}
<input type="submit">
</form>

</body>
</html>