<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'logbook_2/css.css' %}" />
	 
</head>
<body>



<h1> WELCOME TO IT#02</h1>
<p id="demo">
<script>
document.getElementById("demo").innerHTML = Date();
</script>
<div class="maini">
<div class="main">




<img src="{% static 'logbook_2/images/book.png' %}" alt="book" width=""><br>
             <button class="r"><a href="{%   url 'past_entry' %}">PREVIOUS</a> </button><br>
             <button class="ri"><a href="{%  url 'new_entry' %}">ADD ENTRY</a> </button><br>
              <button class="riy"><a href="{%  url 'add_student' %}">ADD STUDENTS</a> </button><br>
			  

</div>
</div>





</body>
</html>