<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Previous Entry</title>
</head>
<body>
<ul>
    {% for dat in data %}
        <ul>
        <h2><center>{{ dat.date }}</center></h2>
        <li>Start time - {{ dat.start_time }}</li>
        <li>End time - {{ dat.end_time }}</li>
        <li>Objective - {{ dat.today_objective }}</li>
        </ul>
        <h3>List of objective given to student at that time</h3>
        {% for stud in students %}
            {% if stud.date == dat.date %}
            <li>{{ stud.name.name }} -- {{ stud.objective }}</li>
            {% endif %}
            {% endfor %}
    {%  endfor %}
</ul>
</body>
</html>